*.suo
MyServer Steps/MyServer Step01 Basic Components/MyServer.sdf
/MyServer Steps/MyServer Step01 Basic Components/GameServer/Debug
/boostTest/Debug
/boostTest/*.sdf
/boostTest/boostTest/Debug
*.sdf
/boostTest/.vs
/chapter01/.vs
/chapter01/Debug
/MyServer Steps/.vs
/chapter01/tcpserver_socket_accepter_thread Iocp/Debug
/chapter05/.vs
/chapter05/iocp/iocpServer/Debug
/chapter05/Debug
